{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block title %}{% trans "Untitled Page" %}{% endblock %}</title>
</head>

<body>
{% block invitation_content %}{% endblock %}
{% block page_content %}{% endblock %}
</body>
</html>